body{
    /*background-image: url('../imgs/cinza.png');*/
    background-color: #f5f8fa;
}
section.page-login{
    
    margin-top: 4%;
}

div.dataTables_wrapper div.dataTables_filter {
     text-align: left; 
}

div.dataTables_wrapper div.dataTables_length {
    text-align: right;
}

.modal-header {
    background-color: #428bca;
    color: #fff;
    
}

.form-encolhido input{
    height: 25px;
}
.form-encolhido .form-group{
    line-height: 0.4;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: greenyellow;
    background-color: #080808;
}