body{
    /*background-image: url('../imgs/cinza.png');*/
    background-color: #f5f8fa;
}

.container-interno{
    background-color: #fff;
    min-height: 600px;
}

.container.container-nav{
    padding-left: 0;
    padding-right: 0;
}

.chosen-container{
    width: 100% !important;
}

section.page-login{
    
    margin-top: 1%;
}

.navbar-brand.title-app{
    color: pink;
}

div.dataTables_wrapper div.dataTables_filter {
     text-align: left; 
}

div.dataTables_wrapper div.dataTables_length {
    text-align: right;
}

.modal-header {
    background-color: #428bca;
    color: #fff;
    
}

.form-encolhido input{
    height: 25px;
}
.form-encolhido .form-group{
    line-height: 0.4;
}

.form-encolhido .help-block{
    line-height: 1em;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: greenyellow;
    background-color: #080808;
}

.mensagem-erro{
    color: red;
}

.form-encolhido .form-group .error{
    line-height:1.2em;
    color: red;
    font-size: 12px;
}

.page-login .panel-default > .panel-heading {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.page-login .panel-default {
    border-color: #000;
}

.page-login .panel {
    border: 3px solid #000;
}

.page-login .btn-default {
    background-color: #111;
    color:#fff;
    border-color: #fff;
}

.page-login .btn-default:hover {
    background-color: #000;
   color:#fff;
    border: 1px solid #111111;
}

.header-logo{
    background-color: #fff;
}

.header-logo img{
    height: 60px;
}
